# Server
PORT=3000

# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=siap

# Auth & Session
SESSION_SECRET=change_this_to_a_long_random_secret
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
